*{
margin: 0;
padding: 0;
}
:root{

}
.cabecalho{
background-color: rgb(180, 99, 255);
 padding: 50px;
}
 .corpo{
    background-color: rgb(191, 126, 207);
}
.footer{
   background-color: aquamarine
}
 .boton{
  position: fixed;
 top: 20px;
 left: 20px;
  padding: 10px 20px;
 background-color: rgb(226, 185, 245);
 co









}