*{
margin: 0;
padding: 0;
}
:root{

}
.cabecalho{

 background-color: rgb(106, 231, 231);
}
.corpo{
    background-color: rgb(148, 233, 216);
}
.footer{
   background-color: ;
   
    background-color: rgb(185, 245, 240);










}