*{
margin: 0;
padding: 0;
}
:root{

}
.cabecalho{
background-color: rgb(180, 99, 255);
 padding: 50px;
}
 .corpo{
    background-color: rgb(191, 126, 207);
}
.footer{
   background-color: aquamarine
}
 .boton{
  position: fixed;
 top: 20px;
 left: 20px;
  padding: 10px 20px;
 background-color: rgb(203, 156, 224);
 color:rgb(213, 182, 227);
  text-decoration:none ;
  border-radius: 5px;
 }
 .boton:hover{
  background-color: blueviolet;
 }
 .boton:active{
  font-size: 20px;
}
 .video-grid{
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
 gap: 20px;
}
.video-item{
   background-color:  rgba(192, 119, 235), 
  padding: 10px;
 border-radius: 8px;
 box-shadow: 0 2px 10px 
 height: 200px;
}

